<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your burger here" id="burger-name"
        aria-label="Burger input box with add and devour buttons">
    <button class="btn btn-outline-secondary" type="button" id="add-burger-button">Add Burger</button>

</div>

<div class="container">
    <div class="row-cols-2">
        <div class="col">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{burger_name}}</h5>
                    <a href="#" class="devour-btn btn btn-primary" data-id={{id}}>Devour it!</a>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col">
            {{#each burgers}}
            {{#if devoured}}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{burger_name}}</h5>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>